<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:resizeableActivity="false"
        tools:targetApi="n"
        tools:ignore="DiscouragedApi">

        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY"
            android:value="true" />

        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_ORIENTATION_OVERRIDE"
            android:value="false" />

        <activity
            android:name=".launcher.Launcher"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecentTasksActivity"
            android:exported="true"
            android:label="@string/recent_tasks"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="com.elderdesktop.ACTION_RECENTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/desktop_settings"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            tools:ignore="DiscouragedApi">
        </activity>

        <activity
            android:name=".WeatherActivity"
            android:exported="false"
            android:label="Weather"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            tools:ignore="DiscouragedApi">
        </activity>

        <activity
            android:name=".launcher.AccidentalTouchSettingsActivity"
            android:exported="false"
            android:label="@string/accidental_touch_settings_title"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            tools:ignore="DiscouragedApi">
        </activity>

        <activity
            android:name=".launcher.EditDesktopActivity"
            android:exported="false"
            android:label="@string/edit_home_screen"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            tools:ignore="DiscouragedApi">
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.DesktopNotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".launcher.AccidentalTouchService"
            android:label="@string/accidental_touch_prevention"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name=".launcher.SpamCallService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service
            android:name=".launcher.ElderCallRedirectionService"
            android:permission="android.permission.BIND_CALL_REDIRECTION_SERVICE"
            android:exported="true"
            tools:targetApi="q">
            <intent-filter>
                <action android:name="android.telecom.CallRedirectionService" />
            </intent-filter>
        </service>
    </application>

</manifest>